
.section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section__container-productos{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}